/* Base Application Styles */
html,
body,
#app,
.launch-page {
  height: 100%;
}

body {
  footer {
    text-align: center;
    padding: 20px;
  }
}

.menu-link,
.container,
.menu {
  transition: all 0.2s ease-out;
}

.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;

  &:hover,
  &:focus {
    background: #000;
  }
  & span {
    position: relative;
    display: block;
  }
  & span,
  & span:before,
  & span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
  }
  & span:before,
  & span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }
  & span:after {
    margin-top: 0.6em;
  }
}

.container {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  &.active .menu-link {
    left: 150px;
  }

  &.active .menu {
    left: 150px;
    width: 150px;
  }
}

@media (min-width: 48em) {
  .container {
    padding-left: 155px;
    left: 0;
  }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
}

@media (max-width: 48em) {
  .container.active {
    left: 155px;
  }
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 0 2em;

  h1 {
    margin: 0.2em 0;
    font-size: 1.9em;
    font-weight: 300;
  }

  h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }
}
