.school-list {
    caption {
        text-align: center;
    }
    .average_total_primary {
        tr th:nth-child(2) {
            display: none;
        }
    }

    .average_total {
        tr th:nth-child(1) {
            display: none;
        }
    }
}