.school-list {
  caption {
    text-align: center;
  }
  .average_total_primary {
    tr td:nth-child(2),
    tr th:nth-child(2) {
      display: none;
    }
  }
  .average_total {
    tr td:nth-child(1),
    tr th:nth-child(1) {
      display: none;
    }
  }

  table {
    width: 100%;
  }
  td {
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
  /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
  @media only screen and (max-width: 480px) {
    table {
      border: none;
    }
    /* Force table to not be like tables anymore */
    table,
    caption,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
      position: relative;
      &:not(:first-child) {
        border-top: none;
      }
      &:after {
        position: absolute;
        right: 5px;
        bottom: 0;
        font-style: italic;
        font-size: 2em;
      }
      td:nth-child(2),
      th:nth-child(2),
      td:nth-child(1),
      th:nth-child(1) {
        display: none;
      }
    }

    .average_total_primary {
      tr:after {
        content: attr(data-p-index);
      }
    }
    .average_total {
      tr:after {
        content: attr(data-s-index);
      }
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 35%;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 30%;
      padding-right: 10px;
      white-space: nowrap;
    }
    /*
    Label the data
    */
    td:nth-of-type(1):before {
      content: "Rank";
    }
    td:nth-of-type(2):before {
      content: "Rank";
    }
    td:nth-of-type(3):before {
      content: "School name";
    }
    td:nth-of-type(4):before {
      content: "ICSEA";
    }
    td:nth-of-type(5):before {
      content: "Score";
    }
  }
}
